# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node dependencies
node_modules/

# Expo related files
.expo/
dist/
web-build/
expo-env.d.ts

# Native files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler health-check
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# Local environment files (ex.: .env.local)
.env*.local

# TypeScript build info
*.tsbuildinfo

# Ignore o arquivo .env da pasta serverType
serverType/.env
